In [24]:
import pandas as pd
import numpy as np
import networkx as nx

In [8]:
dir_labeled = "../../research/network/dataset_network_sub_label_ip_month/"

In [9]:
df_labeled = pd.read_pickle(dir_labeled + "201307.pkl")

In [ ]:
df_labeled.head(10)

In [22]:
df_labeled.RTT.describe()

count    2.428659e+07
mean     8.940294e+04
std      4.710001e+05
min      1.090000e+02
25%      2.816000e+03
50%      3.332600e+04
75%      1.371770e+05
max      7.818314e+07
Name: RTT, dtype: float64

In [25]:
nodes = pd. unique(df_labeled[["IP_SRC", "IP_DST"]]. values. ravel())

In [28]:
len(df_labeled)

24286588

In [27]:
len(nodes)

678316

In [44]:
df_labeled.groupby(['IP_SRC', 'IP_DST']).size()

IP_SRC  IP_DST
0       1         90928
1       2         90927
        28764         1
2       3         90305
        929         622
                  ...
678275  678276        1
678280  678281        1
678284  678284        1
678294  678295        1
678309  678310        1
Length: 1219749, dtype: int64

In [52]:
df_labeled[(df_labeled['IP_SRC'] == 0) & (df_labeled['IP_DST'] == 1)].RTT.describe()

count     90928.000000
mean       3406.705525
std       18856.641654
min         222.000000
25%         322.000000
50%         434.000000
75%         915.000000
max      544745.000000
Name: RTT, dtype: float64

In [64]:
df_labeled_mean = df_labeled.groupby(['IP_SRC', 'IP_DST'], as_index=False).mean()

In [65]:
df_labeled_mean.head(10)

   IP_SRC  IP_DST           RTT
0       0       1   3406.705525
1       1       2   1717.024239
2       1   28764    414.000000
3       2       3   7759.344089
4       2     929   7164.790997
5       3       4   4770.348817
6       3      44   4912.736083
7       3      51   6246.581889
8       3      96  24333.617644
9       3     230   1014.010101

In [66]:
df_labeled_median = df_labeled.groupby(['IP_SRC', 'IP_DST'], as_index=False).median()

In [67]:
df_labeled_median.head(10)

   IP_SRC  IP_DST     RTT
0       0       1   434.0
1       1       2   551.0
2       1   28764   414.0
3       2       3   407.0
4       2     929   506.0
5       3       4  4527.0
6       3      44  4532.0
7       3      51   446.0
8       3      96  4723.0
9       3     230   443.0

In [68]:
len(df_labeled_median)

1219749

In [76]:
import sys

G = nx.Graph()

# add nodes
for node in nodes:
    G.add_node(node)

percentage = 0
# add edges
for index, row in df_labeled_median.iterrows():
    G.add_edge(row['IP_SRC'], row['IP_DST'], weight = np.float64(row['RTT']))
    if ((index + 1)/len(df_labeled_median) * 100 > percentage):
        percentage += 1
        print(str(percentage) + "%", flush=True)

In [79]:
import matplotlib.pyplot as plt
def plot_graph_spring_layout(G):
    plt.cla()

    pos = nx.spring_layout(G)  # positions for all nodes

    # nodes
    for node in G.nodes:
        nx.draw_networkx_nodes(G, pos,
                        nodelist=[node],
                        node_color='b',
                        node_size=40,
                        alpha=0.5)

    # edges
    nx.draw_networkx_edges(G, pos, width=1.0, alpha=0.5)

    plt.axis('off')

    plt.show()

In [ ]:
plot_graph_spring_layout(G)